<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Details</title>
    <h1 th:text="${tittle}"></h1>
    <ul>
      <li th:text="${user.name}"></lith:text></li>
      <li th:text="${user.lastName}"></li>
      <li th:if="${user.email}" th:text="${user.email}"></li> <!--Nos muestra mail solo si es distinto de null-->
      <li th:if="${not (user.email != null)}" th:text="${'No tiene email'}"></li>
    </ul>
</head>
<body>
    
</body>
</html>