<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tittle}">Lista</title>
</head>
<body>
    <h1 th:text="${tittle}">Lista</h1>
    <div th:if="${users.isEmpty()}" th:text="${'No tiene elementos de usuarios'}"> </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>

      </thead>
     
      <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:if="${user.email}" th:text="${user.email}"></td>
            <td th:if="not ${user.email}" th:text="${'n/a'}"></td>
        </tr>
       </tbody>
        
    </table>

</body>
</html>